[Unit]
Description=Electrumx_STAK
After=network.target

[Service]
EnvironmentFile=/etc/electrumx_STAK.conf
ExecStart=/usr/local/bin/electrumx_server.py
User=squbs
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
